@font-face {
    font-display: swap;    
    src: url(https://www.samsung.com/etc.clientlibs/samsung/clientlibs/consumer/global/clientlib-common/resources/fonts/SamsungOne-400.woff2) format("woff2");
    font-family: "SamsungOne-400";
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-display: swap;
    src: url(https://www.samsung.com/etc.clientlibs/samsung/clientlibs/consumer/global/clientlib-common/resources/fonts/SamsungOne-700.woff2) format("woff2");
    font-family: "SamsungOne-700";
    font-weight: bold;
    font-style: normal;
  }
  @font-face {
    font-display: swap;
    src: url(https://www.samsung.com/etc.clientlibs/samsung/clientlibs/consumer/global/clientlib-common/resources/fonts/SamsungSharpSansBd.woff2) format("woff2");
    font-family: "SamsungSharpSans";
    font-weight: bold;
    font-style: normal;
  }
  
  .samsung-h1{
    font-family: 'SamsungSharpSans',arial,sans-serif;
    font-size: 2.2rem;
  }
  
  .samsung-h2{
    font-family: 'SamsungSharpSans',arial,sans-serif;
    font-size: 1.6rem;
  }
  
  .samsung-h3{
    font-family: 'SamsungOne-400',arial,sans-serif;
  }
  
  .samsung-h4{
    font-family: 'SamsungOne-400',arial,sans-serif;
    font-size: 1.1rem;
  }
  
  .samsung-h5{
    font-family: 'SamsungSharpSans',arial,sans-serif;
    font-size: 1.6rem;
  }
  
  .samsung-h6{  
    font-family: 'SamsungSharpSans',arial,sans-serif;
    font-size: 1.1rem;
  }
  
  .samsung-p {
    font-family: 'SamsungOne-400',arial,sans-serif;
  }
  
  .samsung-legal-copy{
      font-family: 'SamsungOne-400',arial,sans-serif;
      font-size: 0.8rem;
      color: #666;
  }

  /* Add your CSS styles here */
  .swiper {
    /* outline: 1px solid red; */
    border-radius: 20px;
    /* max-width: 90%; */
    width: 100%;
    height: 50%;
    padding: 28px;
    background-color: #F6F6F6;
    color: black;
    outline: 1px solid #868686;
    margin: 20px auto;
  }
  .swiper2 {
    border-radius: 0px;
    width: 100%;
    height: 50%;
    padding: 0px;
    background-color: #F6F6F6;
    color: black;
    outline: none;
    margin: 0px auto;
  }
  .swiper-wrapper {
    width: 100%;
    height: 100%;
    padding: 20px 0;
  }
  .swiper-wrapper2 {
    width: 100%;
    height: 100%;
    padding: 0px 0;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
    background-color: #F6F6F6;
    color: black;
    outline: 1px solid #868686;
  }
  .swiper-slide2 {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px;
    overflow: hidden;
    background-color: #F6F6F6;
    color: black;
    outline: none;
  }
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swiper-slide2 img {
    display: block;
    width: 100%;
    height: 640px;
    object-fit: cover;
  }
  .swiper-button-next, .swiper-button-prev {
    width: 40px;
    height: 40px;
    padding: 8px;
    border: 0;
    margin: 0;
    padding: 0;
    /* width: auto; */
    overflow: visible;
    background: black;
    border-radius: 50px;
    text-align: inherit;
    /* border-radius: 0; */
    cursor: pointer;
    color: white;
    font: inherit;
    line-height: normal;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
  }
  .swiper-button-next:after, .swiper-button-prev:after {
    font-size: 20px;
  }
  .swiper-pagination-bullet-active{
    background-color: black;
  }
  .form-control.is-invalid, .was-validated .form-control:invalid {
    background-image: none;
  }
  
  .help-choose {
    background-color: #4E4E4E;
    border-radius: 50px;
  }
  .help-choose-content-box {
    background-color: #F9F9F9;
    border-radius: 25px;
  }
  .product-count {
    font-size: 3rem;
  }
  .prev-btn, .next-btn, .result-btn {
    width: 150px;
    border-radius: 25px;
    /* background: #000; */
  }
  .reset-btn {
    color: #000;
    font-size: 1rem;
    text-decoration: underline;
  }
  .hint-btn{
    color: black;
    background-color: #F6F6F6;
    border-radius:20px;
    line-height:1.3;
    padding:0.02rem 0.34rem;
    font-size:.8rem;
  }
  .popover{
    font-family: 'SamsungOne-400',arial,sans-serif;
    max-width:600px
  }
  .hint-btn:hover {
    color: #fff;
    background-color: #23272b;
    border-color: #1d2124;
  }
  .asterisk-imp {
    color: red;
  }
   